		
			body {
				width:1345px;
				height:100%;
				position:absolute;
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}
			
			header {
				width:100%;
				height: 40px;
			}
			footer {
				clear: left;
				width: 100%;
				text-align: center;
				padding: 4px 0;
			}
			p {
				font-size:13px;
				color:skyblue;
				text-align:center;
				font-family:bold;
			}
			h3 {
				margin: 0;
				padding-top: 13px;
				font-size:15px;
				text-align:center;
			}
			
			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}
			
			nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 37%;
				margin-left: -40%;
			}
			.left {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 10%;
				margin-left: -10%;
			}
	
			#wrapper {
				overflow: hidden;
			}
						
			#content {
				width: 100%; 
				margin-right: 10%;/* Same as 'nav' width */
				height:100%;
			}
			#pesan{
			margin:20px 0 0 0;
			background-color:#dddddd;
			position:relative;
			cursor:pointer
			}
			#notifikasi
			{
			background-color:red;
			font-size:8pt;
			position:relative;
			top:-4
			}
			#info
			{
			width:200px;
			padding:3;
			position:absolute;
			left:110;
			background-color:#efefef;
			z-index:1000;
			display:none
			}
			
			.innertube {
				margin: 15px;
				margin-top: 0;

			}
			.scroll{
				margin:30px 0 30px 20px;
				padding:3px;
				overflow:auto;
				width:600px;
				height:200px;
				border:1px solid grey;
			}
			.scroll2{
				padding:3px;
				overflow:auto;
				width:400px;
				height:500px;
			}
			.info2{
			font-family:arial;
			font-size:10pt
			}
	
			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			
			nav ul a {
				color: darkgreen;
				text-decoration: none;
			}
			td img{
				height:70px;
				width:70px;
				
			}

			img.btn_close {
				float: right; 
				margin: -28px -28px 0 0;
			}

			fieldset { 
				border:none; 
			}
			
			/* LOGIN */
			nav ul {
			  margin: 0;
			  padding: 0;
			  list-style: none;
			  position: relative;
			  float: right;
			  border-bottom: 1px solid #fff;
			  border-radius: 3px;
			}

			nav li {
			  float: left;          
			}

			nav #login {
			  border-right: 1px solid #ddd;
			  box-shadow: 1px 0 0 #fff;  
			}

			nav #login-trigger,
			nav #signup a {
			  display: inline-block;
			  *display: inline;
			  *zoom: 1;
			  padding: 0 8px;
			  text-decoration: none;
			  text-shadow: 1px 1px 1px skyblue; 
			}

			nav #signup a {
			  border-radius: 0 3px 3px 0;
			}

			nav #login-trigger {
			  border-radius: 3px 0 0 3px;
			}

			nav #login-trigger:hover,
			nav #login .active,
			nav #signup a:hover {
			  background: #fff;
			}

			nav #login-content {
			  display: none;
			  position: absolute;
			  top: 24px;
			  right: 0;
			  z-index: 999;    
			  background: #fff;
			  padding: 15px;
			  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
			  border-radius: 3px 0 3px 3px;
			}

			nav li #login-content {
			  right: 0;
			  width: 250px;  
			}

			/*--------------------*/

			#inputs input {
			  background: #f1f1f1;
			  padding: 6px 5px;
			  margin: 0 0 5px 0;
			  width: 238px;
			  border: 1px solid #ccc;
			  border-radius: 3px;
			  box-shadow: 0 1px 1px #ccc inset;
			}

			#inputs input:focus {
			  background-color: #fff;
			  border-color: #e8c291;
			  outline: none;
			  box-shadow: 0 0 0 1px #e8c291 inset;
			}

			/*--------------------*/

			#login #actions {
			  margin: 10px 0 0 0;
			}

			#login #submit {    
			  background-color: skyblue;
			  background-image: linear-gradient(top, #e97171, #d14545);
			  -moz-border-radius: 3px;
			  -webkit-border-radius: 3px;
			  border-radius: 3px;
			  text-shadow: 0 1px 0 rgba(0,0,0,.5);
			  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
			  border: 1px solid skyblue;
			  float: left;
			  height: 30px;
			  padding: 0;
			  width: 100px;
			  cursor: pointer;
			  font: bold 14px Arial, Helvetica;
			  color: #fff;
			}

			#login #submit:hover,
			#login #submit:focus {    
			  background-color: skyblue;
			  background-image: linear-gradient(top, #d14545, #e97171);
			} 

			#login #submit:active {   
			  outline: none;
			  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
			}

			#login #submit::-moz-focus-inner {
			  border: none;
			}

			#login label {
			  float: right;
			  line-height: 30px;
			}

			#login label input {
			  position: relative;
			  top: 2px;
			  right: 2px;
			}
			/* END LOGIN */
			
			/* DAFTAR */
			
			.content {
				width: 406px;
				max-width: 406px;
			}

			#signup {
				padding: 0px 25px 25px;
				background: #fff;
				box-shadow: 
					0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
					0px 2px 5px rgba( 0,0,0,0.33 );
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 10px;
				display: table;
				position: static;
			}

			#signup .header {
				margin-bottom: 20px;
			}

			#signup .header p {
				color: #8f8f8f;
				font-size: 14px;
				font-weight: 300;
			}


			#signup .inputs {
				margin-top: 25px;
			}

			#signup .inputs label {
				color: #8f8f8f;
				font-size: 12px;
				font-weight: 300;
				letter-spacing: 1px;
				margin-bottom: 7px;
				display: block;
			}

			input::-webkit-input-placeholder {
				color:    #b5b5b5;
			}

			input:-moz-placeholder {
				color:    #b5b5b5;
			}

			#signup .inputs input[type=email], input[type=password],input[type=password2] ,input[type=name] {
				background: #f5f5f5;
				font-size: 0.8rem;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: none;
				padding: 13px 10px;
				width: 330px;
				margin-bottom: 20px;
				box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
				clear: both;
			}

			#signup .inputs input[type=email]:focus, input[type=password]:focus,input[type=password2]:focus ,input[type=name]:focus {
				background: #fff;
				box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
				outline: none;   
			}

			#signup .inputs .checkboxy {
				display: block;
				position: static;
				height: 25px;
				margin-top: 10px;
				clear: both;
			}

			#signup .inputs input[type=checkbox] {
				float: left;
				margin-right: 10px;
				margin-top: 3px;
			}

			#signup .inputs label.terms {
				float: left;
				font-size: 14px;
				font-style: italic;
			}

			#signup .inputs #submit {
				width: 100%;
				margin-top: 20px;
				padding: 15px 0;
				color: #fff;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1px;
				text-align: center;
				text-decoration: none;
					background: -moz-linear-gradient(
					top,
					#b9c5dd 0%,
					#a4b0cb);
				background: -webkit-gradient(
					linear, left top, left bottom, 
					from(#b9c5dd),
					to(#a4b0cb));
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
				border: 1px solid #737b8d;
				-moz-box-shadow:
					0px 5px 5px rgba(000,000,000,0.1),
					inset 0px 1px 0px rgba(255,255,255,0.5);
				-webkit-box-shadow:
					0px 5px 5px rgba(000,000,000,0.1),
					inset 0px 1px 0px rgba(255,255,255,0.5);
				box-shadow:
					0px 5px 5px rgba(000,000,000,0.1),
					inset 0px 1px 0px rgba(255,255,255,0.5);
				text-shadow:
					0px 1px 3px rgba(000,000,000,0.3),
					0px 0px 0px rgba(255,255,255,0);
				display: table;
				position: static;
				clear: both;
			}

			#signup .inputs #submit:hover {
				background: -moz-linear-gradient(
					top,
					#a4b0cb 0%,
					#b9c5dd);
				background: -webkit-gradient(
					linear, left top, left bottom, 
					from(#a4b0cb),
					to(#b9c5dd));
			}
			/* END DAFTAR */
			ul.tabs { 
			list-style:none; 
			margin:0 !important; 
			padding:0;	
			border-bottom:1px solid #666;	
			height:30px;
				
			}

			ul.tabs li {	
				float:left;	 
				text-indent:0;
				padding:0;
				margin:0 !important;
				list-style-image:none !important;
				color: black;
				text-decoration: none; 
				font-size:12px;
				
			}

			ul.tabs a {
				background-image: url('../img/blue.png');
				display:block;
				height: 30px;
				line-height:30px;
				width: 134px;
				text-align:center;
				text-decoration:none;
				color:#333;
				padding:0px;
				margin:0px;
				position:relative;
				top:1px;
				background-repeat: no-repeat;
				background-position: -420px 0px;
			}

			ul.tabs a:active {
				outline:none;
					
			}

			#content ul.tabs a:hover {
				background-position: -420px -31px;	
				color:skyblue;	
			}

			ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
				background-position: -420px -62px;		
				cursor:default !important; 
				font-weight:bold;
				color:skyblue;	
			}
			
			.panes div {
			overflow:hidden;
			padding-left:10px;
			padding-bottom:10px;
			border:1px solid #999;
			border-top:0;
			height:60%;
			font-size:12px;
			}
			
			.panes .pane {
			display:none;
			padding-left:30px;
						
			}

			.panes div span{
			font-size: 12px;
			display: block;
			}
		
			
			.menu {
			margin:15px;padding:0px;
			border:1px solid #000000;

			-moz-border-radius-bottomleft:14px;
			-webkit-border-bottom-left-radius:14px;
			border-bottom-left-radius:14px;

			-moz-border-radius-bottomright:14px;
			-webkit-border-bottom-right-radius:14px;
			border-bottom-right-radius:14px;

			-moz-border-radius-topright:14px;
			-webkit-border-top-right-radius:14px;
			border-top-right-radius:14px;

			-moz-border-radius-topleft:14px;
			-webkit-border-top-left-radius:14px;
			border-top-left-radius:14px;
			}.menu table{
			margin:0px;padding:0px;
			}
			.menu tr:last-child td:last-child {
			-moz-border-radius-bottomright:14px;
			-webkit-border-bottom-right-radius:14px;
			border-bottom-right-radius:14px;
			}
			.menu table tr:first-child td:first-child {
			-moz-border-radius-topleft:14px;
			-webkit-border-top-left-radius:14px;
			border-top-left-radius:14px;
			}
			.menu table tr:first-child td:last-child {
			-moz-border-radius-topright:14px;
			-webkit-border-top-right-radius:14px;
			border-top-right-radius:14px;
			}.menu tr:last-child td:first-child{
			-moz-border-radius-bottomleft:14px;
			-webkit-border-bottom-left-radius:14px;
			border-bottom-left-radius:14px;
			}.menu tr:hover td{
			background-color:#e5e5e5;
			}
			.menu td{
			vertical-align:middle;
			background:-o-linear-gradient(bottom, #ffffff 5%, #e5e5e5 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e5e5e5) ); 	background:-moz-linear-gradient( center top, #ffffff 5%, #e5e5e5 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e5e5e5");	background: -o-linear-gradient(top,#ffffff,e5e5e5);
			background-color:#ffffff;
			border-width:0px 1px 1px 0px;
			text-align:left;
			padding:7px;
			font-size:12px;
			font-family:Arial;
			font-weight:normal;
			color:#000000;
			}
			.menu tr:last-child td{
			border-width:0px 1px 0px 0px;
			}
			.menu tr td:last-child{
			border-width:0px 0px 1px 0px;
			}
			.menu tr:last-child td:last-child{
			border-width:0px 0px 0px 0px;
			}
			.menu tr:first-child td{
			background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
			background-color:#cccccc;
			border:0px solid #000000;
			text-align:center;
			border-width:0px 0px 1px 1px;
			font-size:14px;
			font-family:Arial;
			color:#000000;
			}
			.menu tr:first-child:hover td{
			background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
			background-color:#cccccc;
			}
			.menu tr:first-child td:first-child{
			border-width:0px 0px 1px 0px;
			}
			.menu tr:first-child td:last-child{
			border-width:0px 0px 1px 1px;
			}
			/* MENU */
			div.menu1
			{
				text-align:right;
				margin-right:11%;
				font-size:0;
				height: 25px;    
				position:relative;
			}

			div.menu1 a
			{
				display: inline-block;
				padding: 0 20px;
				margin-right:1px;
				background:#F7F7F7;
				color:Black;
				text-decoration:none;
				font: normal 12px Arial;
				line-height: 24px;
				border:1px solid #CAD0DB;
				border-bottom:0;
				color:#666;
				vertical-align:top;
				text-decoration:none;
			}

			div.menu1 a:hover, div.menu1 a.current
			{
				background:white;
				line-height: 25px;
				color:#666;
			}

			div.menu1sub
			{
				height:6px;
				border:1px solid #CAD0DB;
				background:#C5F2F7;
			}
			/* -MENU */
			
			/* Slideshow */
			
			*{
				margin:0;
				padding:0;
			}

			#container{
				width:700px;
				height:340px;
				position:relative;
			}

			#container .prevButton{
				height:72px;
				width:68px;
				position:absolute;
				background:url('../img/buttons.png') no-repeat;
				top:50%;
				margin-top:-36px;
				cursor:pointer;
				z-index:2000;
				background-position:left top;
				left:0
			}

			#container .prevButton:hover{ background-position:left bottom;left:0;}

			#container .nextButton{
				height:72px;
				width:68px;
				position:absolute;
				background:url('../img/buttons.png') no-repeat;
				top:50%;
				margin-top:-36px;
				cursor:pointer;
				z-index:2000;
				background-position:right top;
				right:0
			}

			#container .nextButton:hover{background-position:right bottom;right:0;}

			#container ul{
				width:700px;
				height:340px;
				list-style:none outside none;
				position:relative;
				overflow:hidden;
			}

			#container li:first-child{
				display:list-item;
				position:absolute;
			}

			#container li{
				position:absolute;
				display:none;
			}
			/* -Slideshow */
			
			.tengah{
				margin-top:3%;
				width:94%;
				height:40%;
				padding: 0px 25px 25px;
				background: #FBFBFB;
				box-shadow: 
					20px 20px 20px 20px rgba( 255,255,255,0.4 ), 
					0px 0px 10px rgba( 0,0,0,0.33 );
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				display: table;
				position: absolute;
			}
			#tengah1{
				margin-top:1%;
				width:25%;
				height:70%;
				border:5px solid #C5F2F7;
				border-radius:30px;
				float:left;
				position:absolute;
				background:url('../img/1a.jpg') no-repeat;
			}
			#tengah2{
				margin-top:1%;
				margin-left:30%;
				width:25%;
				height:70%;
				border:5px solid #C5F2F7;
				border-radius:30px;
				float:left;
				position:absolute;
				background:url('../img/1a.jpg') no-repeat;				
			}
			#tengah3{
				margin-top:1%;
				margin-left:60%;
				width:25%;
				height:70%;
				border:5px solid #C5F2F7;
				border-radius:30px;
				float:left;
				position:absolute;
				background:url('../img/1a.jpg') no-repeat;
			}
		